<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--<add name="SASClient.Properties.Settings.ConnectionString" connectionString="Data Source=108.168.203.227,7007;User ID=SimpleAccounting"
      providerName="System.Data.SqlClient" />
    <add name="SASClient.Properties.Settings.SimpleAccounting" connectionString="Data Source=108.168.203.227,7007;Initial Catalog=SimpleAccounting;User ID=SimpleAccounting1;Password=SimpleAccounting1"
      providerName="System.Data.SqlClient" />-->
    <!--<add name="SASClient.Properties.Settings.SimpleAccounting" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=SimpleAccounting;User ID=;Password=;Trusted_Connection=True;"
  providerName="System.Data.SqlClient" />-->
    <add name="SASEntitiesEDM" connectionString="" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <!--<assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />-->
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>